body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}